# my global config
global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
#  - job_name: "node2"
#    static_configs:
#      - targets: ["3.35.169.188:9100"]

#  - job_name: "node1"
#    static_configs:
#      - targets: ["3.38.115.238:9100"]

  - job_name: "testserver1-node"
    static_configs:
      - targets: ["3.38.108.216:9100"]

  - job_name: "testserver1-jmx"
    static_configs:
      - targets: ["3.38.108.216:8081"]

  - job_name: "testserver1-apache"
    static_configs:
      - targets: ["3.38.108.216:9117"]

  - job_name: "testserver1-mysqld"
    static_configs:
      - targets: ["3.38.108.216:9104"]



#  - job_name: "node4"
#    static_configs:
#      - targets: ["3.36.57.236:9100"]
  


